/.vs
/MSS.API.Core/bin
/MSS.API.Dao/bin
/MSS.API.Gateway/bin
/MSS.API.Ids/bin
/MSS.API.Model/bin
/MSS.API.Org/bin
/MSS.API.ServiceD/bin
/MSS.Common.Consul/bin
/MSS.API.Core/obj
/MSS.API.Dao/obj
/MSS.API.Gateway/obj
/MSS.API.Ids/obj
/MSS.API.Model/obj
/MSS.API.Org/obj
/MSS.API.ServiceD/obj
/MSS.Common.Consul/obj
