/.vs
/MSS.API.Core/bin
/MSS.API.Dao/bin
/MSS.API.Gateway/bin
/MSS.API.Ids/bin
/MSS.API.Model/bin
/MSS.API.Org/bin
/MSS.API.ServiceD/bin
/MSS.Common.Consul/bin
/MSS.API.Core/obj
/MSS.API.Dao/obj
/MSS.API.Gateway/obj
/MSS.API.Ids/obj
/MSS.API.Model/obj
/MSS.API.Org/obj
/MSS.API.ServiceD/obj
/MSS.Common.Consul/obj
/MSS.RPC.Client/bin
/MSS.RPC.Client/obj
/MSS.RPC.Client.ServiceC/bin
/MSS.RPC.Client.ServiceC/obj
/MSS.RPC.Hosting/bin
/MSS.RPC.Hosting/obj
/MSS.RPC.Prot/bin
/MSS.RPC.Prot/obj
/MSS.RPC.Protocol/bin
/MSS.RPC.Protocol/obj
/MSS.RPC.Server.ServiceA/bin
/MSS.RPC.Server.ServiceA/obj
/MSS.RPC.Server.ServiceA.Impl/bin
/MSS.RPC.Server.ServiceA.Impl/obj
/MSS.RPC.Server.ServiceB/bin
/MSS.RPC.Server.ServiceB/obj
/MSS.RPC.Server.ServiceC.Hosting/bin
/MSS.RPC.Server.ServiceC.Hosting/obj
/MSS.RPC.Server.ServiceC.Hosting2/bin
/MSS.RPC.Server.ServiceC.Hosting2/obj
/MSS.RPC.Server.ServiceC.Impl/bin
/MSS.RPC.Server.ServiceC.Impl/obj
